@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

.mouse-follow {
  position: fixed;
  top: 50%;
  left: 50%;
  height: 25vmax;
  aspect-ratio: 1;
  border-radius: 50%;
  filter: blur(10vmax);
  background: #7235c9;
  opacity: 0.5;
  z-index: -10;

  transition: transform 300ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
}

.mouse-follow-mobile {
  position: fixed;
  height: 30vmax;
  aspect-ratio: 1;
  border-radius: 50%;
  filter: blur(10vmax);
  background: #7235c9;
  opacity: 0.5;
  z-index: -10;

  transition: transform 300ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
}